.title-admin-header {
  font-family: "Montserrat", sans-serif;
}

.hr-admin-header {
  color: rgb(143, 143, 143);
}

.inputs-col {
  display: flex;
  align-items: center;
  justify-content: flex-end;

  button {
    margin: 0px;
  }
}
