.round-title {
  text-align: center;
  color: #213366;
  padding-bottom: 2rem;
}

.seed {
  min-width: 450px !important;
  font-size: 19px !important;

  .seed-item {
    // border-left: 14px solid #213366;
    border-radius: 5px;
    background-color: #fff !important;

    .seed-team {
      color: #000;

      .unplaced {
        color: #d7d7d7;
      }

      .team-1 {
        justify-content: normal;
        padding: 0.8rem 1.2rem 0.8rem 0.9rem;

        .point {
          flex: 0.2;
          opacity: 0.2;
          font-size: 16px;
        }

        .team {
          flex: 1;
          text-align: left;
        }
        .time {
          flex: 1;
          text-align: right;
        }
      }

      .team-2 {
        background-color: #fafafa;
        padding: 0.8rem 1.2rem 0.8rem 0.9rem;

        .point {
          flex: 0.2;
          opacity: 0.2;
          font-size: 16px;
        }
        .team {
          flex: 1;
          text-align: left;
        }
        .time {
          flex: 1;
          text-align: right;
        }
      }
    }
  }
}

.timer {
  position: fixed;
  bottom: 5%;
  right: 5%;

  .timer-span {
    font-size: 31px;
    font-weight: 500;
  }
}
