.admin-page {
  padding: 60px 0;

  .menu-card {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 12px;
    text-decoration: none;
    cursor: pointer;
    padding: 20px 0;

    label {
      color: black;
      text-decoration: none;
    }
  }

  .menu-card:hover {
    background-color: rgba(204, 202, 202, 0.705);
    transition: 0.1s;
  }
}
