.checked {
    background-color: rgb(199, 230, 173);
    margin: 0.2rem 0;
    padding: 1.5rem;
    cursor: pointer;
}

.not-checked {
    background-color: rgb(230, 173, 173);
    margin: 0.2rem 0;
    padding: 1.5rem;
    cursor: pointer;
}

