body {
  background-color: #f6f6f6;

  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.App {
  width: 80%;
  margin: 0 auto;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

.table-actions {
  display: flex;
  gap: 6px;
}

.admin-page {
  padding: 60px 0;

  h1 {
    text-transform: uppercase;
    color: #3d3d3d;
  }

  .menu-card {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 12px;
    text-decoration: none;
    cursor: pointer;
    padding: 20px 0;

    label {
      color: black;
      text-decoration: none;
    }
  }

  .menu-card:hover {
    background-color: rgba(204, 202, 202, 0.705);
    transition: 0.1s;
  }
}

.dWYBbN {
  box-shadow: rgb(211 211 211 / 98%) 0px 2px 4px -2px !important;
}
